<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Mensaje de Advertencia</title>
    <link rel="stylesheet" href="../resource/css/advertencia.css">
</head>
<body>
    <div class="message-container">
        <div class="close-button">×</div>
        <div class="message-content">
            <img src="../img/advertencia.svg" alt="advertencia" class="advertencia-image">
            <p class="advertencia-title">¿Está seguro que quiere eliminar el producto?</p>
            <p class="advertencia-subtitle">Un producto eliminado no se volverá a mostrar</p>
            <button class="confirm-button">Confirmar</button>
        </div>
    </div>
</body>
</html>
