<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Success Message</title>
    <link rel="stylesheet" href="../resource/css/enviadoexitosamente.css">
</head>
<body>
    <div class="message-container">
        <div class="close-button">×</div>
        <div class="message-content">
            <img src="../img/cheque.png" alt="Success" class="success-image">
            <p class="success-text">¡Datos ingresados con éxito!</p>
        </div>
    </div>
</body>
</html>
