<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Error Message</title>
    <link rel="stylesheet" href="../resource/css/noenviado.css">
</head>
<body>
    <div class="message-container">
        <div class="close-button">×</div>
        <div class="message-content">
            <img src="../img/boton-eliminar.png" alt="Error" class="error-image">
            <p class="error-text">¡Error al ingresar datos!</p>
            <p class="warning-text">Por favor, revisar los datos ingresados y vuelve a intentar</p>
        </div>
    </div>
</body>
</html>
